<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Simple Effects for Drop-Down Lists</title>
		<meta name="description" content="Simple Effects for Drop-Down Lists" />
		<meta name="keywords" content="drop-down, select, jquery, plugin, fallback, transition, transform, 3d, css3" />
		<meta name="author" content="Codrops" />
		<link rel="stylesheet" type="text/css" href="css/style1.css" />
		<link rel="stylesheet" href="css/index.css"/>
		<link rel="stylesheet" href="css/jquery.pagination.css"/>
		<script src="js/jquery.js"></script>
		<script src="js/angular.js"></script>
		<script src="js/index.js"></script>
		<script src="js/jquery.pagination-1.2.1.js"></script>
	</head>
	<body ng-app="newsApp">
		<div class="container" ng-controller="mainCtrl">
			<header class="clearfix">
				<h1>社科文献推荐系统<span>文章列表</span></h1>
			</header>
			<div class="searchBar" ng-show="showList">
				<div class="searchBox">
					<input type="text" ng-model="keyWord"/>
					<button ng-click="doSearch()">搜索</button>
				</div>
			</div>
			<section class="main clearfix">
				<div class="fleft" ng-show="showList">
					<ul class="newsList">
						<li ng-repeat="news in dataNow">
							<a data-newsid="{{news.result.id}}" title="{{news.result.title}}" ng-click="showDetail($event)">
								<p data-newsid="{{news.result.id}}">{{news.result.title}}</p><span data-newsid="{{news.result.id}}">{{news.result.createTime | date:'yyyy-MM-dd HH:mm:ss'}}</span>
							</a>
						</li>
					</ul>
					<div id="pageBox" ng-show="!isSearch"></div>
					<div id="searchPaging" ng-show="isSearch"></div>
				</div>
				<div class="fleft newsDetail" ng-show="!showList">
					<button ng-click="backToList()">&laquo;返回列表</button>
					<h2>{{targetNews.title}}</h2>
					<h4>{{targetNews.createTime | date:'yyyy-MM-dd HH:mm:ss'}}</h4>
					<pre>{{targetNews.content}}</pre>
				</div>
			</section>
			<div class="recommendBox" ng-show="!showList" ng-if="showRecommend">
				<h2>相关推荐</h2>
				<ul>
					<li ng-repeat="item in recommendData" ng-if="$index!=0"><a data-newsid="{{item.result.id}}" title="{{item.result.title}}" ng-click="showRecommendDetails($event)">{{item.result.title}}</a></li>
				</ul>
				<div class="toggle">
					<a ng-click="toggleRecommend()">收起相关推荐>></a>
				</div>
			</div>
			<div class="recommendBox" ng-show="!showList" ng-if="!showRecommend">
				<a ng-click="toggleRecommend()">展开相关推荐</a>
			</div>
		</div>
	</body>
</html>

